<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Titulo do site | Corretor</title>
    <base href="/">
    <!-- Style CSS -->
    <link rel="stylesheet" type='text/css'  href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

  
</head>
<body>
    <main class="login_main">
        <div class="login_container">
            <h1>Area de login</h1>
            <form class="form_login" action="dashboard" method="post">
                <input type="email" name="email" id="email" required placeholder="Email">
                <input type="password" name="senha" id="senha" required placeholder="Senha">
                <button type="submit">Logar</button>
            </form>
        </div>
    </main>
</body>

 <!-- jQuery (Necessary for All JavaScript Plugins) -->
 <script src="/assets/js/jquery/jquery-2.2.4.min.js"></script>
 <!-- Popper js -->
 <script src="/assets/js/popper.min.js"></script>
 <!-- Bootstrap js -->
 <script src="/assets/js/bootstrap.min.js"></script>
 <!-- Plugins js -->
 <script src="/assets/js/plugins.js"></script>
 <script src="/assets/js/classy-nav.min.js"></script>
 <!-- Active js -->
 <script src="/assets/js/active.js"></script>
</html>